<!--
    Web Application Phase 6 Homework
    index.html
    @author Yuting Su(suy@carleton.edu)
    @author Starr Wang(wangy3@carleton.edu)
    @ 20 Oct 2018

    This is the html file for the advanced search page of musify website.
-->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Advanced Search</title>
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='musify.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='advanced_search.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="center">
    <section>
      <h1 class="title"> Musify </h1>

      <div class="col-10 offset-1" id="advanced_search">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: inherit">Search Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: inherit">Search Singers</a>
        </li>
      </ul>

    <!-- Advanced search bars -->
      <!-- Advanced search in songs -->
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">

            <div class="col-md-2 paddingRightClear">
              <span class="fa fa-music userIcon"></span>
              <input type="text" id="song_name" class="form-control searchInput" aria-label="Large" placeholder="Song name">
            </div>

            <div class="col-md-2 paddingRightClear">
              <span class="fa fa-user userIcon"></span>
              <input type="text"  id="singer" class="form-control searchInput bookInput" aria-label="Large" placeholder="Singer name">
            </div>

            <div class="col-md-2 paddingRightClear">
              <span class="fa fa-calendar userIcon"></span>
              <input type="text" id="year" class="form-control searchInput" aria-label="Large" placeholder="Year">
            </div>

            <div class="col-md-2 paddingRightClear">
              <i class="fab fa-hotjar"></i>
              <input type="text" id="song_hotness" class="form-control searchInput" aria-label="Large" placeholder="Hotness">
            </div>

            <div class="col-md-2 paddingRightClear">
              <span class="fa fa-images userIcon"></span>
              <input type="text" id="album" class="form-control searchInput" aria-label="Large" placeholder="Album">
            </div>

            <div class="col-md-2 paddingRightClear">
              <span class="fa fa-key userIcon"></span>
              <input type="text" id="genre" class="form-control searchInput" aria-label="Large" placeholder="Genre">
            </div>

            <div class="col-md-12">
              <button type="button" id="advanced_songs" class="btn btn-info">Search</button>
            </div>

          </div>
        </div>

      <!-- Advanced search in singers -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">

          <div class="col-md-4 paddingRightClear">
            <span class="fa fa-user userIcon"></span>
            <input type="text" id="singer_name" class="form-control searchInput" aria-label="Large" placeholder="Singer Name">
          </div>

          <div class="col-md-4 paddingRightClear">
            <i class="fab fa-hotjar"></i>
            <input type="text" id="singer_hotness" class="form-control searchInput" aria-label="Large" placeholder="Hotness">
          </div>

          <div class="col-md-4 paddingRightClear">
            <span class="fa fa-location-arrow userIcon"></span>
            <input type="text" id="hometown" class="form-control searchInput" aria-label="Large" placeholder="Hometown">
          </div>

          <div class="col-md-2">
            <button type="button" id="advanced_singers" class="btn btn-info">Search</button>
          </div>

        </div>
      </div>
    </section>

  </div>
  </body>

  <P><table id="results_table" class="table table-striped table-info"></table></P>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>

</html>
