<!--
    Web Application Phase 6 Homework
    index.html
    @author Yuting Su(suy@carleton.edu)
    @author Starr Wang(wangy3@carleton.edu)
    @ 20 Oct 2018

    This is the html file for the main page of musify website.
-->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Musify</title>
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='musify.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='musify.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background: unset">
  <h1 class="title"> Musify </h1>
  <div class="center">
    <form class="search-container">
      <input type="text" id="search-bar" placeholder="Explore music by entering your favorite song or singer name">

      <div class="buttons">
        <button type="button" id="singers" class="btn btn-dark">Search Singers</button>
        <button type="button" id="songs" class="btn btn-info">Search Songs</button>
      </div>
    </form>

    <!-- This botton links to the advanced search page. -->
    <a href="http://perlman.mathcs.carleton.edu:5223/advanced"><button class="button" style="vertical-align:middle"><span>Advanced Search</span></button></a>
  </div>
  </body>

  <P><table id="results_table" class="table table-striped table-info"></table></P>
</html>

